
@{
    ViewBag.Title = "CalculationError";
}

<h2>CalculationError</h2>

<p>Sorry, there was a calculation error.</p>
<div>
    <a class="btn btn-primary" href="/GCD/Index" role="button">Go back</a>
</div>

